<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Emeal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3958DFC51B7FBD6F00B1E6A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3958DFDB1B7FBD6F00B1E6A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3958DFE61B7FBD6F00B1E6A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
